<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBpOr4syZFCHbt2PxdYzJ4x5rnoUonlvWM</string>
	<key>GCM_SENDER_ID</key>
	<string>771383120007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartprojects.financefreedom</string>
	<key>PROJECT_ID</key>
	<string>financefreedom-c4653</string>
	<key>STORAGE_BUCKET</key>
	<string>financefreedom-c4653.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771383120007:ios:b792a48dc9ba476823e822</string>
</dict>
</plist>